<a href="https://colab.research.google.com/github/SharonCamacho/Data-Science-FEM-Study-Group/blob/master/EDA_Titanic_(Exploremos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EDA - Exploratory Data Analysis in Python** üêç  ***for dummies*** ‚≠ê

En este workbook aprenderemos un poco sobre como el an√°lisis exploratorio (EDA por sus siglas en ingl√©s) nos ayuda a conocer nuestros datos para poder responder preguntas y/o prepararlos realizar los modelos que quieras! üôåüôÜ‚Äç‚ôÄÔ∏è

El objetivo principal es entonces usar los datos responder preguntas y guiar la toma de decisiones

### Exploremos!!!  üîçü§î

Para realizar esto, necesitamos ayuda de algunas librer√≠as, empecemos con **Pandas**.


**Pandas** es una herramienta de an√°lisis y manipulaci√≥n de datos construida sobre el lenguaje de programaci√≥n Python üêç. Nos ayuda a tomar los datos y convertirlos a una estructura de datos con filas y columnas llamado ***DataFrame***, que es muy similar a las tablamos que vemos en Excel por ejemplo.


En este primer ejercicio utilizaremos pandas para inspeccionar nuestro DataFrame

En primer lugar debemos importar la librer√≠a, utilizaremos el alias pd para facilitar nuestro trabajo con pandas.

In [1]:
#Se importan las librer√≠as que nos ayudar√°n a manipular el dataframe

import pandas as pd

En esta ocaci√≥n exploraremos los datos del Titanic. (sacados de kaggle)

Primero debemos leerlos y guardarlos en una variable llamada **data**, en esta se guardar√° la informaci√≥n como un DataFrame.

In [37]:
#Se guardan los datos en la variable data

data = pd.read_csv('titanic.csv')

Para Validar que realmente es un Data Frame podemos usar la funci√≥n type

In [38]:
type(data)

pandas.core.frame.DataFrame

Para iniciar nuestro an√°lisis observemos como luce nuestro data frame usando el m√©todo **.head()** que por defecto nos mostrar√° las primeras 5 filas.

In [39]:
#Leemos las primeras 5 filas del data frame

data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [40]:
#Leemos las √∫ltimas 5 filas del data frame

data.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

Con **.info()** podemos tener mucha infomaci√≥n de los datos como:

- el tama√±o del data frame en filas y columnas
- el tipo de dato de cada columna
- si existen valores nulos en alguna variable
- los nombres de las columnas

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

Esta misma informaci√≥n la podemos obtener con otros m√©todos como:

In [10]:
#Obtener el tama√±o del data frame

data.shape

(891, 12)

In [11]:
#Obtener los nombres de las columnas

data.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [24]:
#Obtener el tipo de dato de una columna particular
data.PassengerId.dtype

dtype('int64')

In [25]:
#Se usa para saber si existe alg√∫n dato nulo en las columnas

data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

Tambi√©n podemos calcular medidas estad√≠sticas de las variables num√©ricas

In [26]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [43]:
data.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [30]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [44]:
# Valores unicos por columna sin considerar nulos
data.Embarked.nunique()

3

In [31]:
# Valores unicos por columna teniendo en cuenta nulos
data.Embarked.nunique(dropna=False)

4

In [ ]:
# Esta celda solo es necesaria si usamos Collaboratory

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving DataSet.csv to DataSet.csv
User uploaded file "DataSet.csv" with length 2104390 bytes

In [ ]:
# Esta celda solo es necesaria si usamos Collaboratory

data = pd.read_csv('DataSet.csv',  sep=";")

#### Si usas Collaboratory usa las siguientes dos celdas: üïµÔ∏è‚Äç‚ôÄÔ∏èüïµÔ∏è‚Äç‚ôÇÔ∏è

### A visualizar!!!  üìäüìàüìâ

Ahora grafiquemos nuestros datos para saber m√°s de ellos

### Limpia tus datos!!!  üë©‚Äçüíªüë©‚Äçüíº

Realiza los ajustes que permitan que tus datos generen un mejor an√°lisis o est√©n balanceados

## GRACIAS!! üíÅ‚Äç‚ôÄÔ∏èüòÅ